@font-face {
  font-family: OpenSans;
  src: url(/src/resources/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(/src/resources/fonts/OpenSans-SemiBold.ttf);
}

body {
  margin: 0;
  font-family: OpenSans;
}
