.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.price {
  display: flex;
  justify-content: space-between;

  & span:first-child {
    color: #2196F3;
    font-family: OpenSans-SemiBold;
    font-size: 24px;
  }
}